html {
    height: 100%;
    width: 100%;
  }
  html{
   background:url('Simple-Minimalist-Background-Image.jpg');
  }
  h1{
    font-size:100px;
    font-family:'baloo bhai';
    font-weight:bold;
    color:black;
    border:8px solid black;
    border-radius:13px;
    margin-left:550px;
    display:inline-block;
    
  }
   p1{
    font-size:35px;
    font-family:"cursive";
    font-weight:bold;
    color:white;
  }